
/*
Pyi Framework Default - stylesheet
v1.0.0
Last Updated: July 19 2015
Pyi Framework: http://pyiframework.github.io
Twitter: @PyiFramework
Author: Kevin Pybus - http://KevinPybus.com
Twitter: @KevinPybus
*/

/* ----- Import Fonts ----- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400);

/*
--
NOTE: IE 7 and 8 can create some faux weight and styles with grouped Google Web Fonts.
If you're concerned about this you can comment out the @import and add the
code below to the top of your header.php instead.
Otherwise leave it as is.
See: http://www.smashingmagazine.com/2012/07/11/avoiding-faux-weights-styles-google-web-fonts/
--

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,400" rel="stylesheet" type="text/css">
<!--[if IE]>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:700italic" rel="stylesheet" type="text/css">
<![endif]-->

*/


/* ----- Reset browser default styling ----- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%; /* comment to use browser default font sizes instead of resetting to 100% */
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
		background: #e2e2e2; /* set background color */
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* edit colors as needed */
ins {
    background-color: #ff9ff9;
    color: #000000;
    text-decoration: none;
}

/* edit colors as needed */
mark {
    background-color: #ff9ff9;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* edit border color as needed */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc; /* the hr line color, edit as needed */
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* ----- Default Browser Standards ----- */

/* set global font */
body {
	font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}

/* paragraph tags */
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

/* header tags */
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* lists */
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5em;
}

li {
  display: list-item;
}

/* blockquote */
blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/* ----- Main Styles ----- */

/* wrappers */
#wrap-header {
  width: 70%;
  margin-top: .5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

#wrap-top-nav {
  width: 100%;
  margin: 0 auto;
  padding: .5em 0 .5em 0;
  text-align: center;
  border-top:1px solid #8d8d8d;
  border-bottom:1px solid #8d8d8d;
}

#wrap-main {
  width: 70%;
  margin: 0 auto;
}

#wrap-footer {
  width: 70%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-top: 1px solid #8d8d8d;
}


/* top navigation */
#wrap-top-nav a {
  margin: 0 1em 0 1em;
  color: #444444;
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
}

#wrap-top-nav a:hover {
    color: #8d8d8d;
}

/* ----- Custom Styles ----- */

/* Pyi Framework logo */

.logo-pyi  {
  margin: 0 1em 0 0;
  padding-bottom: .2em;
  color: #444444;
  font-weight: bold;
  font-size: 4.5em;
  font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
